<!-- fragmento info -->
<section>
    <div class="container-fluid mb-5 p-3">
        <div class="row mb-5">
            <div class="col-md-2"></div>

            <div class="col-md-8 align-self-end text-center">
                <h1 class="display-4" style="font-weight: bold; color: #333;">ARA TIENDA</h1>
                <img src="../img/header_info.png" alt="Imagen tecnológica" class="img-fluid mt-3" style="max-width: 450px;" aria-hidden="true">
            </div>

            <div class="col-md-2"></div>
        </div>

        <div class="row mb-6 justify-content-center">
            <div class="col-md-7 text-center p-4 bg-light shadow rounded">
                <p>
                    En <strong>ARA TIENDA</strong> encontrarás computadoras, laptops, repuestos, periféricos y mucho más. Somos una tienda enfocada en brindar soluciones tecnológicas para estudiantes, gamers, profesionales y empresas. Explorá nuestro catálogo y descubrí la mejor tecnología al alcance de un clic.
                </p>
            </div>
        </div>
    </div>
</section>